# CODEOWNERS for .project metadata repository
# Changes to project metadata require maintainer review.
* @alexgreenbank @vesari @ArthurSens @aknuds1 @Nexucis @machine424 @bwplotka @superq @breed808 @beorn7 @bboreham @carlpett @cstyan @carrieedwards @csmarchbanks @Sinjo @bitfehler @cristiangreco @dmagliola @dswarbrick @dashpole @dgl @dhoard @fstab @fionaliao @brancz @codesome @krajorama @gouthamve @zeitlinger @jan--f @jkroepke @jesusvazquez @sysadmind @discordianfish @gotjosh @roidelapluie @juliusv @kakkoyun @metalmatze @matthiasr @mxinden @ywwg @pedro-stanaka @richih @saswatamcode @bastischubert @simonpasquier @electron0zero @thomaspeitz @grobie @tomwilkie 
